/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

main {
  overflow: auto;
}

.container {
  /*background: #1c5380;*/
  overflow: hidden;
  margin: 7%;
  position: absolute;
  top: 50px;
}

header {
  height: 300px;
  position: relative;
}

.backblue {
  display: block;
  background-image: url(../images/bgtile.png);

}

/*westside*/

.phones {
  float: left;
}

/*east end*/

.explain {
  position: relative;
  /*border: 2px solid black;*/
  width: 50%;
  float: left;
  margin: 3%;
  margin-left: 5%;
}

.explain h2 {
  font-size: 27px;
  width: 280px;
}

.words {
  background-image: url(../images/frame.png);
  background-repeat: no-repeat;
  padding: 30px;
  background-size:contain;
  /*position: absolute;
  top: 22%;
  font-size: 16px;
  width: 70%;
  left: 10%;*/
}

.links {
  /*position: relative;
  top: 63px;
  left: 8%;*/
}

.ig {
  margin-bottom: 5px;
}

.iphone {
  margin-right: 10px;
  margin-left: 22px;
}

/*footer*/

.nav {
  clear: both;
  text-align: center;
}

.nav li {
  list-style: none;
  /*background: #1c5380;*/
  color: #06365f;
  display: inline-block;
  margin: 15px;
}

.nav a {
  text-decoration: none;
}
